<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- A MainActivity continua aqui para caso o app de destino queira abrir sua tela diretamente -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>